:root{
    --vermelho:#FE0914;
    --preto:#141414;
    --branco:#fff;
}
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--preto);
    font-family:'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    color:var(--vermelho);
    font-family:'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 40px;
    margin-left:15px;
}
header nav a{
    text-decoration: none;
    color:#ccc;
    margin: 10px;
}
header nav a:hover{
    color:var(--branco);
}
.filme-principal .container, .botoes{
    margin-left: 15px;
    width: 70%;
}
.filme-principal{
    display: flex;
    background:linear-gradient(rgba(0,0,0,.20),rgba(0,0,0)100%), url('/midia/capa-suits.jpg');
    height: 500px;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .titulo,p{
    color:var(--branco);
    margin-bottom: 15px;
}
.filme-principal .titulo{
    font-size: 45px;
}
.btn{
    background-color: rgba(0, 0,0, 50%);
    color: var(--branco);
    border: none;
    padding: 15px 30px;
    margin-right: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--branco);
    color: var(--preto);
    transition: .3s case all;
}

.box{
    height: 100%;
    width: 100%;
    display: block;
}
