*{
    margin:0px;
    padding: 0px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
body{
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url("../../netflix/midia/background-login.jpg");
    background-size: cover;
}
header{
    display: flex;
}
.logo img{
    width: 150px;
    height: 45px;
    margin-top: 15px;
    margin-left: 25px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    min-width: 400px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.75);
}
.box-login{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 60vh;
    color: #fff;
}
.box-login .titulo-login{
    margin-bottom: 20px;
}
.box-login .input-form{
    width: 90%;
    padding: 15px;
    background-color: #333;
    border:none;
    margin-bottom: 12px;
    border-radius: 5px;
    color:#fff;
}
.box-login .btn-entrar{
    width: 100%;
    padding: 15px;
    background-color: #f00;
    border:none;
    color:#fff;
    font-size: 15pt;
    border-radius: 5px;
    font-weight: bold;
}
.box-login .box-lembra-senha{
    display: flex;
    justify-content: space-between;
    font-size: 8pt;
    margin-top: 12px;
    padding: 0px;
}
a{
    color: #fff;
    text-decoration: none;
}
.box-info div{
   margin-top: 15px;
}
.box-info .info-recaptcha{
    font-size: 8pt;
}

/*1 conhecimento aereo
2 emissao nota fiscal
3 fatura comercial(ingles) 4 vias só pagina 2

peso medidas
*/
